streamlit
wikipedia-api
google-generativeai
pdfplumber
opencv-python-headless
numpy
faiss-cpu
sentence-transformers
google-search-results
langchain
langchain-community
easyocr  # <-- Added easyOCR
python-docx
drawsvg
cairosvg

